html, body {
	color: #222222;
	height: 99%;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
body {
	font-family: "Helvetica Neue", "Lucida Grande", Arial, Helvetica, sans-serif;
	font-size: 100%;
	margin-bottom: 4px;
/*	max-width: 1500px; 
	margin-left: auto;
	margin-right: auto; */
}
/* Layout */
#header {
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 4px;
}
#headertitle {
	font-family: Times,"Times New Roman",Georgia,serif;
	font-size: 27px;
	font-style: italic;
	font-weight: bold;
	line-height: 24px;
	padding-bottom: 5px;
}
#headersubtitle {
	font-size: 10px;
}
#sidebartitle {
	font-family: Times,"Times New Roman",Georgia,serif;
	font-size: 27px;
	font-style: italic;
	font-weight: bold;
	line-height: 24px;
	padding-bottom: 5px;
}
#sidebarsubtitle {
	font-size: 10px;
}
#container {
	overflow:hidden;
	margin: 0 0px;
	padding-left: 200px;
}
* html #container {
	height: 1%;
}
#contents {
	width: 100%;
	border-left: 200px solid white;
	margin-left: -200px;
	float: right;
}
#newsinfo {
	padding-bottom: 5px;
}
#imagecontent {
	padding-left: 5px;
	padding-right: 4px;
}
#image {
	text-align: center;
	padding-right: 4px;
}
.imgheight {
}
#video {
	margin-left: auto;
	margin-right: auto;
}
#commentstage {
	margin-left: auto;
	margin-right: auto;
}
#image img{
	max-width: 100%;
}
#imgtitle {
	font-size: 18px;
	font-weight: bold;
}
#imgtitle p {
	font-size: 15px;
	font-weight: normal;
	margin-top: 7px;
	margin-bottom: 0px;
}
#imgprevious, #imgnext, #tags, #slideshowlink, #metadata, #hitcounter, .fb-like, #newsprevious, #newsnext {
	text-align:center;
	float: left;
/*	display: inline-block; */
}
#buttons {
	text-align: center;
	height: auto;
}
.tags_title {
}
.taglist {
	padding-left: 0px;
	display: inline;
	list-style-type: none;
}
.taglist li {
	display: inline;
	list-style-type: none;
}
#hitcounter {
	color: #82996F;
}
/* Comments
------------------------------ */
#commentcontent {
}
#commentcontent h3 {
	margin-top: 4px;
	margin-bottom: 10px;
}
#comments {
	width: 100%;
	padding: 0;
}

#comments h3 {
	letter-spacing: 0;
}

.comment {
	font-size: 15px;
	padding: 0px 10px 10px 10px;
}
.commentinfo {
	margin-top: -10px;
}
.commenttext {
	margin-top: -10px;
}
.commentmeta {
}

.commentauthor {
}

.commentdate {
	color: #8DB8CF;
}
#commententry {
	font-size: 13px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}
#commentform p {
	margin-bottom: -7px;
	clear: both;
}
#commentform label {
	width: 190px;
	float: left; 
	display: block;
}

form label strong {
	color: red;
}

#commentform input[type="text"] {
	width: 270px;
}
img#captcha {
	display: block;
	float: left;
}
input#code {
	float: left;
	margin-left: 10px;
	width: 10em !important;
}

input.button {
	padding: 5px 8px 5px 8px!important;
}

#commentform textarea#comment {
	clear: both;
	width: 95% !important;
	height: 150px;
}
/* Forms
------------------------------ */
.inputbox {
	width: 250px;
	padding: 2px 6px;
	border: 1px solid #e5e5e5;
}

textarea {
	font-family: Times,"Times New Roman",Georgia,serif;
	font-size: 17px;
	padding: 4px;
	width: 99%;
	color: #5A5A4B;
	height: 200px;
}

.checkbox {
	cursor: pointer;
}

.button {
	cursor: pointer;
	padding: 5px 5px;
}

label {
	cursor: pointer;
}

label:hover {
	color: #000;
}
#pagetitle, #searchtitle {
	font-size: 18px;
	font-weight: bold;
}
#pagecontent {
}
#mailform label, #registration_form label {
	width: 225px;
	float: left;
	display: block;
}
#mailform label, #registration_form label {
	clear: both;
}
#subject {
	float: left;
}
/* Sidebar and Menus
-----------------------------*/
#sidebar {
	width: 196px;
	float: left;
	margin-left: -196px;
	display:inline;
}
#menu {
	padding: 5px;
}
#menutitle {
	padding: 5px;
	font-style: italic;
}
#menu ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
#menu li {
    background-image: url(images/arrow_right.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left: 15px; 
}
.submenu {
}
#menu li.menu-active-1 > a, #menu li.menu-active a, #menu li a.menu-active {
    color: #002E5B;
}

/* Page Navigation
------------------------------ */

ul.pagelist {
	padding: 0;
	list-style-type: none;
}

ul.pagelist li {
	display: inline;
}

ul.pagelist li a,ul.pagelist span.disabledlink {
}

ul.pagelist li.current a {
	text-decoration: none;
	cursor: default;
}

ul.pagelist li.prev {
}

ul.pagelist li.next {
}

.disabledlink {
	color: #ddd;
	cursor: default;
}

.pagelist {
}

.pagenav {
	clear: both;
}

.disabled_nav {
	visibility: hidden;
}
/* Album Thumbnails
------------------------------ */
#albums {
}
#album {
	width: 305px;
	float: left;
}
#albumdesc {
	width: 200px;
	float: right;
}
#albumdesc p {
	margin-top: 0px;
	margin-bottom: 0px;
}
#imagethumbs {
}
#imagethumb {
	float: left;
}
.clearing {
	height: 0;
	clear: both;
}
/* News Articles
------------------------------ */
#newstitle {
	font-size: 18px;
	font-weight: bold;
}
#newslink {
}

#newsnav {
	padding-left: 5px;
}

#newsdate {
	font-size: 13px;
}

#newscategory {
}

.newscategories {
	padding-left: 0px;
	display: inline;
	list-style-type: none;
}
.newscategories li {
	display: inline;
	list-style-type: none;
}

#newscontent {
}

#newstags {
}

/* Search
------------------------------ */
input#search_input {
	width: 150px;
}
#searchshowmore {
	font-size: 13px;
}
#searchcategory {
	font-size: 18px;
	font-weight: bold;
}
#searchcategory p {
	font-size: 13px;
	font-weight: normal;
	margin-top: 3px;
	margin-bottom: 7px;
}
#searchcategory ul {
	list-style-type: none;
	padding: 0px;
	margin: 5px 5px -5px 5px;
}
#searchcategory li {
    background-image: url(images/arrow_right.gif);
	background-repeat: no-repeat;
	background-position: 0px 3px;
	padding-left: 15px; 
}

/* Footer
------------------------------ */
#footer {
	clear: both; 
	text-align: center;
	padding: 16px;
	font-size: 0.7em;
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
}
#zen-part {
	font-size: 1.3em;
	font-family: Arial, Helvetica, sans-serif;
}

#photo-part {
	font-size: 1.0em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

/* Link Styles
------------------------------ */
a:link {
	text-decoration: none;
	color: #82996F;
}

a:visited {
	text-decoration: none;
	color: #82996F;
}

a:active {
	text-decoration: none;
	color: #002E5B;
}

a:hover {
	text-decoration: none;
	color: #002E5B;
}

/* Admin Toolbox
------------------------------ */
#admin,#admin_data {
	position: fixed;
	right: 0px;
	top: 0px;
	width: 130px;
	border-bottom: 1px solid #E6E6DF;
	border-left: 1px solid #E6E6DF;
	background: #fff;
	z-index: 1001;
	text-align: left;
}

#admin_data {
	top: 0px;
	padding-top: 20px;
	z-index: 1000;
	line-height: 16px;
}

#admin h3 {
	color: #999;
	margin: 0;
	padding: 0;
	text-align: center;
}
#content-error {
	padding: 45px 25px 45px 25px;
}
/* Error Messages
------------------------------ */
.error {
	color: #C33;
}
.errorbox {
	padding: 20px;
	border-top: 1px solid #FAA;
	border-left: 1px solid #FAA;
	border-right: 1px solid #FAA;
	border-bottom: 5px solid #FAA;
	color: #DD6666;
}

.errorbox h2 {
	color: #DD6666;
	margin: 0px;
	background-color: #FDD;
}
.errorlist {
	list-style-type: none;
}

/* Colours
--------------------------------*/
#header, #footer {
/* fallback */
	background-color: #E4E7D2;
/* Safari 4-5, Chrome 1-9 */ 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E4E7D2), to(#D5DBAF)); 
/* Safari 5.1, Chrome 10+ */ 
	background: -webkit-linear-gradient(top, #E4E7D2, #D5DBAF);
/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #E4E7D2, #D5DBAF);
/* IE 10 */
	background: -ms-linear-gradient(top, #E4E7D2, #D5DBAF);
/* Opera 11.10+ */ 
	background: -o-linear-gradient(top, #E4E7D2, #D5DBAF);
}
html, body, #sidebar, #container, #contents, #content-error {
	background-color: white;
}
#imgtitle, .comment, #pagecontent, #newscontent, #searchcategory {
	background-color: #F8F9F2;
}
#imgprevious, #imgnext, #tags, #slideshowlink, #metadata, input#code, .inputbox, textarea, .button, #hitcounter , .fb-like, #newsprevious, #newsnext {
	background-color: #f1f1f1;
}
#commententry, #album {
	background-color: #fbfbfb;
}
#commentcontent h3, #comments h3, #pagetitle, #newstitle, #searchtitle, ul.pagelist li.current a {
	color: black;
}
/* Borders
--------------------------------*/
#menu, #image img, #imgtitle, #imgprevious, #imgnext, #tags, .comment, #commententry, textarea, .button,
#pagecontent, #album, #albumthumb img, #imagethumb, #imagethumb img, #footer, #header, #slideshowlink, #metadata,
#pagetitle, #newstitle, #newscontent, #searchtitle, #searchcategory, .inputbox, #hitcounter, .fb-like, #newsprevious, #newsnext, #search_input {
	border: 1px solid darkgray;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	behavior: url(border-radius.htc);
}
/* Margins and padding
--------------------------------*/
#image, #imgprevious, #imgnext, #tags, #slideshowlink, #metadata, #commentcontent, .comment,
textarea, .button, #pagetitle, #pagecontent, #newstitle, #newscontent, #searchtitle, #searchcategory, #menu, #album, #imagethumb,
#hitcounter, .fb-like, #newsprevious, #newsnext, #search_input {
	margin-bottom: 5px;
}
#container {
	margin-top: 5px;
}
#imgprevious, #imgnext, #tags, #slideshowlink, #metadata, #album, #imagethumb, #hitcounter, .fb-like, #newsprevious, #newsnext {
	margin-right: 5px;
}
#comments, #commententry {
	margin-top: 0px;
	margin-bottom: 10px;
}
#pagetitle, #pagecontent, #newstitle, #newscontent {
	margin-left: 5px;
}
img#captcha, #mailform label, #registration_form label, .errorbox{
	margin-bottom: 10px;
}
#header, #content, #newsarticle, #imgtitle, #pagetitle, #pagecontent, #newstitle, #newscontent, #searchtitle, #searchcategory {
	padding: 10px;
}
#imgprevious, #imgnext, #tags, #slideshowlink, #metadata, #album, #imagethumb, #hitcounter, #newsprevious, #newsnext {
	padding: 7px;
}
.fb-like {
	padding: 5px;
}
/* Fonts
--------------------------------*/
#imgprevious, #imgnext, #tags, #slideshowlink, #metadata, #menu, #menu ul, ul.pagelist,
#admin, #admin_data, #content-error, .errorbox, #albumdesc, #hitcounter, .fb-like, #newsprevious, #newsnext {
	font-size: 13px;
}
