/* Admin Toolbox
------------------------------ */
#admin,#admin_data {
	position: fixed;
	right: 0px;
	top: 0px;
	width: 130px;
	border-bottom: 1px solid #E6E6DF;
	border-left: 1px solid #E6E6DF;
	background: #fff;
	z-index: 1001;
	font-size: 13px;
}

#admin_data {
	padding-top: 20px;
	z-index: 1000;
	line-height: 16px;
}

#admin h3 {
	color: #999;
	margin: 0;
	text-align: center;
}
